<accordion>
<div class="github-card user-card">
    <accordion-group heading={{user.name}} class="accordion-toggle" data-toggle="collapse">
  <div class="header User"></div>
  <a class="avatar"
    [href]="'https://github.com/'+user.login">
      <img [src]="user.avatar_url+'&amp;s=80'" [alt]="user.name" />
    </a>
  <div class="content">
    <h1>{{user.name}}</h1>
    <ul class="status">
      <li>
        <a [href]="'https://github.com/'+user.login+'?tab=repositories'">
            <strong>{{user.public_repos}}</strong>Repos
          </a>
      </li>
      <li>
        <a [href]="'https://gist.github.com/'+user.login">
            <strong>{{user.public_gists}}</strong>Gists
          </a>
      </li>
      <li>
        <a [href]="'https://github.com/'+user.login+'/followers'">
            <strong>{{user.followers}}</strong>Followers
          </a>
      </li>
    </ul>
  </div>
  <div class="container vermais">
    <button type="button" class="btn btn-md btn-info" 
    (click)="openModal(template)">Ver Mais</button>
      </div>
    </accordion-group> 
</div>

</accordion>

<ng-template #template>
    <div class="modal-body">
      <p class="align-center"> Deseja saber mais sobre este perfil?</p>
      <div class="align-modal-text">
      <a [href]="'https://github.com/'+user.login" target="_blank" class="btn pointer button-detalhes align-center"><span class="glyphicon glyphicon-hd-video"></span> SIM</a>
      <a class="btn pointer button-close" aria-label="Close" (click)="modalRef.hide()">NÃO</a>
    </div>
  </div>
</ng-template>
